<p-panel [header]="'Basics Pipes'" class="py-2">
    <p class="pt-2">
        Pipes includes in Angular - Usually in Common Module
    </p>
</p-panel>

<div class="grid mt-2">
    <div class="col-12 md:col-4">
        <p-card header="upper case">
            {{ nameLower | uppercase }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="lower case">
            {{ nameUpper | lowercase }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="title case">
            {{ fullName | titlecase }}
        </p-card>
    </div>

    <div class="col-12 md:col-6">
        <p-card header="date">
            <ol>
                <li>actual date</li>
                <li>actual date | date</li>
                <li>actual date | date: short</li>
                <li>actual date | date: long</li>
                <li>actual date | date: MMMM</li>
                <li>actual date | date: MMMM dd, yyyy</li>
            </ol>

            <hr>
            
            <ol>
                <li>customDate | date:'long':'GMT-6'</li>
                <li>customDate | date:'long':'GMT-4'</li>
                <li>customDate | date:'long':'':es-MX</li>
                <li>customDate | date:'long':'':en-CA</li>
            </ol>
        </p-card>
    </div>

    <div class="col-12 md:col-6">
        <p-card header="date pipe">
            <ol>
                <li>{{ customDate }}</li>
                <li>{{ customDate | date }}</li>
                <li>{{ customDate | date: 'short' }}</li>
                <li>{{ customDate | date: 'long' }}</li>
                <li>{{ customDate | date: 'MMMM' }}</li>
                <li>{{ customDate | date: 'MMMM dd, yyyy' }}</li>
            </ol>

            <hr>

            <ol>
                <li>{{ customDate | date:'long':'GMT-6' }}</li>
                <li>{{ customDate | date:'long':'GMT-4' }}</li>
                <li>{{ customDate | date:'long':'':'es-MX' }}</li>
                <li>{{ customDate | date:'long':'':'fr-CA' }}</li>
            </ol>
        </p-card>
    </div>
</div>